body {
  font-family: Lato, Arial;
  margin: 0 0 0 0;
  padding: 0;
}
@media screen and (max-width: 300px) {
  .header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .design-element-1 {
    background-color: #87431D;
    width: 500px;
    height: 500px;
    border-radius: 500px;
    position: absolute;
    top: -380px;
    z-index: -100;
  }

}

.header img {
  right: 30px;
  top: 0;
  width: 200px;
  position: absolute;
  z-index: 100;
}

.title {
  color: #87431D;
  margin-top: 180px;
  margin-right: 200px;
}

.input-box-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.input-box {
  display: block;
  margin: 8px 0;
  font-family: Lato, Arial;
  border: 1px solid hsl(215, 16%, 60%);
  border-radius: 1px;
  color: hsl(215, 20%, 50%);
  padding: 10px 16px;
  width: 270px;
}

.input-box-container button {
  margin-top: 16px;
  border: none;
  padding: 15px 100px;
  background-color: #290001;
  color: white;
  font-family: Lato, Arial;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(41, 0, 1, 0.2);
  width: 300px;
}

.input-box-container button:active {
  background-color: hsl(22, 65%, 32%);
  box-shadow: none;
}

@media screen and (min-width: 701px) {
  .header {
    position: relative;
  }

  .design-element-1 {
    background-color: #87431D;
    width: 500px;
    height: 500px;
    border-radius: 500px;
    position: absolute;
    top: -330px;
    right: -200px;
  }

  .design-element-2 {
    width: 500px;
    height: 500px;
    background-color: #fff1dc;
    border-radius: 500px;
    left: -200px;
    top: -200px;
    position: absolute;
    z-index: -100;

  }

}

@media screen and (min-width:301px) and (max-width: 700px) {
  .header {
    position: relative;
  }

  .design-element-1 {
    background-color: #87431D;
    width: 500px;
    height: 500px;
    border-radius: 500px;
    position: absolute;
    top: -330px;
    right: -200px;
  }

  .design-element-2 {
    width: 500px;
    height: 500px;
    background-color: #fff1dc;
    border-radius: 500px;
    left: -200px;
    top: -200px;
    position: absolute;
    z-index: -100;

  }
}
